*{
 padding:0;
 margin: 0;
 font-family: 'poppins',sans-serif;
 box-sizing: border-box;
}
body { 
    background-color:rgba(6, 5, 5, 0.852);
}
.container {
    width:90%;
    max-width: 600px;
    background-color: #ffff;
    border-radius: 10px;
    margin: 50px auto 0;
}
.title {
    border-bottom: 2px  solid rgb(154, 149, 149);
    margin:10px 2px 0;
    padding:5px;
    color:rgb(216, 160, 15);
    font-size:20px;
    text-align: left;
}
.quiz {
  width:90%;
  max-width: 600px;
  padding: 10px;

}
.quiz h2{
    font-size: 13px;
    color:rgb(216, 160, 15);
    padding-left:5px;

}
.btn-answers{
  padding:6px;
}
.btn {
    width:100%;
    padding:2px;
    margin: 6px 2px;
    text-align: left;
    cursor: pointer;
    color:rgb(216, 160, 15);
    background-color: aliceblue;
    border-color: transparent;
    transition: all 0.3;

}
#next-btn {
    background-color:rgba(6, 5, 5, 0.929);
    color:rgb(216, 160, 15);
    border-color: transparent;
    display:none ;
    margin: 6px auto 0;
    width:150px;
    padding: 10px;
    border-radius:4px;
    cursor: pointer;
    border: 0;
    font-weight: 500;

}
.btn:hover{
   background-color: black; 
   color: #ffff;
  
}



 /* background-color: rgb(20, 124, 20); */
   /* background-color: rgb(182, 24, 24); */